@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-900 text-zinc-300;
  }

  h1 {
    @apply text-[67.34px] leading-none;
  }

  h2 {
    @apply text-[50.52px] leading-none;
  }

  h3 {
    @apply text-[37.90px] leading-none;
  }

  h4 {
    @apply text-[28.43px] leading-none;
  }

  h5 {
    @apply text-[21.33px] leading-none;
  }

  p {
    @apply text-[16px];
  }
}

@layer components {
  #movieList.swiper {
    @apply h-[35vh];
  }

  #main.swiper {
    @apply h-[70vh];
  }

  #cast.swiper {
    @apply h-[37vh];
  }

  #movieList.swiper .swiper-button-prev,
  .swiper-button-next {
    @apply absolute top-[16vh] h-[40px] w-[40px] rounded-full bg-zinc-400 text-sm text-[10px] opacity-50 !important;
  }

  #cast.swiper .swiper-button-prev,
  .swiper-button-next {
    @apply absolute top-[16vh] h-[40px] w-[40px] rounded-full bg-zinc-400 text-sm text-[10px] opacity-50 !important;
  }

  .swiper .swiper-pagination-bullet-active {
    @apply bg-red-500;
  }
}

:root {
  --swiper-navigation-color: rgb(212212216);
  --swiper-navigation-size: 20px !important;
}
